body, td, p
{
	font-family: Verdana;
	font-size: 8pt;
}
h1
{
	font-family: Verdana;
	font-size: 10pt;
}
table
{
	border: 1;
}
.table1 td, th
{
	border-top: solid 1px #666666;
	border-bottom: solid 1px #666666;
	white-space: nowrap;
	padding-left: 0px;
	padding-right: 0px;
	text-align: left;
	font-size: 8pt;
}

.table2 td, th
{
	border-top: solid 1px #666666;
	border-bottom: solid 1px #666666;
	white-space: nowrap;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
	font-size: 8pt;
}
th
{
	background-color: #666666;
	color: #ffffff;
}
#outerDiv
{
	position: relative;
}
#innerDiv
{
	overflow: auto;
}
#innerDiv td
{
	white-space: nowrap;
}
