/* CSS Document */
#hangTieuDe{min-width: 1200px; background-color:#135194; color:white; font-size:36px; padding:0px; text-align:center}
#hang2 a{min-width: 20%; width:auto; padding:0px; background-color:#135194; color:#fff; font-size:auto; font-weight:bold; display:block; float:left; margin-right:0px; text-align:center}
#hang2 a:hover{background-color:#EC2229}
#hang3 {background-color:#EC2229; color:white; text-align: center}

